*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./images/intro-page.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: karla, sans-serif;

}
main{
    /*height: 100vh;*/
}
.intro--content {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;

}
.intro--heading {
    margin-top: 250px;
    font-size: 15rem;
    color: #293264;
}
.intro--button {
    font-family: karla,sans-serif;
    font-size: 1.5rem;
    margin-top: 100px;
    width: 240px;
    height: 80px;
    border-radius: 9px;
    border: none;
    color: #F5F7FB;
    background-color: #4D5B9E;
    cursor: pointer;
}
.question--section{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
}
.question--element{
    margin-bottom: 70px;
    color: #293264;
}
.game--button{
    font-family: karla,sans-serif;
    font-size: 1rem;
    width: 200px;
    height: 30px;
    border-radius: 9px;
    border: none;
    color: #F5F7FB;
    background-color: #4D5B9E;
    cursor: pointer;
}
.hmmm{
    display: flex;

}
.score{
    margin-left: 100px;
    font-family: karla,sans-serif;
}
.radio{
    margin-right: 100px;
}